.form-group
  = f.label :user_name
  = f.text_field :user_name, class: 'form-control'

.form-group
  = f.label :opinion
  = f.text_area :opinion, class: 'form-control', rows: 7

.form-group
  = f.label :answer
  = f.text_area :answer, class: 'form-control', rows: 7

.form-group
  = f.label :date
  = f.date_field :date, class: 'form-control'