= render 'pages/index_banner'
= render 'title_line', text: 'Отзывы:'

.opinions
  .container
    - @opinions.each do |opinion|
      .row.opinion
        .col-md-1
        .col-md-2.text-center
          %i.is.icons-users
          .opinion-user= opinion.user_name
        .col-md-8
          .opinion-time= time_tag opinion.date
          .opinion-text= opinion.opinion 
      / .row
      /   .col-md-2
      /   .col-md-8
      /     .opinion-answer
      /       = opinion.answer
      /       %br
      /       %b С уважением, коллектив Laplandiya.by
      /   .col-md-2
      /     %i.is.icons-santa

    .row
      .col-md-12.text-center
        = link_to 'Читать еще!', '#more', class: 'opinions-read-more'

= render 'title_line', text: 'Оставить отзыв'

.opinions
  .container
    .row
      .col-md-2
      .col-md-8.text-center
        = form_for Feedback.new, remote: true, html: {class: 'js-form', data: {form: 'feedback', model: 'feedback'}}  do |f|
          .row
            .col-md-6
              .form-group
                = f.text_field :user_name, placeholder: 'Укажите ваше имя:', class: 'form-control input-lg'

            .col-md-6
              .form-group
                = f.text_field :email, placeholder: 'e-mail:', class: 'form-control input-lg'
          .form-group
            = f.text_area :feedback, placeholder: 'Введите введите текст сообщения:', class: 'form-control input-lg', rows: 8

          = f.submit 'Отправить отзыв!', class: 'form-button', data: {disable_with: 'Идет отправка ...'}

= render 'brands'



