.form-group
  = f.label :code
  = f.text_field :code, class: 'form-control'

.form-group
  = f.label :material
  = f.text_area :material, class: 'form-control'

= collection_check_boxes :packing, :weight_ids, Weight.ordered, :id, :title do |b|
  .checkbox= b.label { b.check_box(class: 'checkbox') + b.text  }

.form-group
  .row
    .col-xs-8
      = f.label :image
      = f.file_field :image
    .col-xs-4
      - if f.object.image.present?
        = image_tag f.object.image.url, class: 'pull-right img-responsive'
