.kit-sweet
  .row.text-center
    .col-md-12
      .sweet-category-title
        #{category.title}:

  .row
    - sweets.each do |sweet|
      .col-md-3.sweet-items
        .row
          .col-md-6.sweet-image
            = image_tag(sweet.image(:preview))
            .sweet-count
              .count #{ @kit.kits_sweets.find_by(sweet_id: sweet.id).try(:count) }шт.
              %i.is.icons-sweets-count
          .col-md-6.sweet-text.text-center
            .title= sweet.title
            .manufacturer= sweet.manufacturer.title