.kit
  .container
    .row
      .col-md-6.text-right
        .tab-content
          - @compositions.each_with_index do |composition, index|
            - kit = composition.kits.find_by(weight_id: @weight.id, show: true)
            - if kit
              .tab-pane{ class: "#{'active' if @composition.id == composition.id} js-slide-#{index}"}
                .kit-image
                  - discount = kit.kits_packings.find_by(packing_id: @packing.id).discount
                  - if discount > 0
                    .composition-discount
                      %i.is.icons-discount
                      .discount #{ discount }%
                    %i.is.icons-action
                  = image_tag @packing.image, class: 'img-responsive'

      .col-md-6
        .row.kit-info
          .col-md-6.title Вес подарка:
          .col-md-6.body #{@kit.weight.weight} гр.

        .row.kit-info
          .col-md-6.title Упаковка:
          .col-md-6.body микрогофрокартон с текстильными вставками.

        .row.kit-info
          .col-md-6.title Кол-во конфет:
          .col-md-6.body.tab-content
            - @compositions.each_with_index do |composition, index|
              - kit = composition.kits.find_by(weight_id: @weight.id, show: true)
              - if kit
                .tab-pane{ class: "#{'active' if @composition.id == composition.id} js-slide-#{index}"}

                  - sweets_count = kit.sweets_count
                  #{sweets_count} #{I18n.t(:count, count: sweets_count)}

        
        %ul.nav
          - @compositions.each_with_index do |composition, index|
            - if composition.kits.find_by(weight_id: @weight.id, show: true)
              - code = Kit.gen_code(composition, @weight, @packing)
              %li.row.composition-variant{class: ('active' if @composition.id == composition.id)}
                %a{href: ".js-slide-#{index}", data: { toggle: "tab" }}
                  .col-md-7
                    .col-md-3
                      %i.is.icons-radio-button
                    .col-md-9
                      = composition.title
                      %br
                      (№ #{code})
                  .col-md-5.cost
                    = cost_tag(Kit.find_by(composition_id: composition.id, weight_id: @weight.id).kits_packings.find_by(packing_id: @packing.id).cost)

= render 'title_line', text: 'СОСТАВ:'

.kit-sweets.tab-content
  - @compositions.each_with_index do |composition, index|
    - kit = composition.kits.find_by(weight_id: @weight.id, show: true)
    - if kit
      .tab-pane{ class: "#{'active' if @composition.id == composition.id} js-slide-#{index}"}
        .tr.container-fluid
          - SweetsCategory.ordered.each do |category|
            - sweets = kit.sweets.where(sweets_category_id: category.id)
            - if sweets.present?
              = render 'sweets', category: category, sweets: sweets
      

= render 'title_line', text: 'Как сделать заказ?'
.kit
  .container
    .row
      .col-md-4
      .col-md-4.text-center
        = form_for Order.new, remote: true, html: { class: 'js-form', data: {form: 'order'} } do |f|
          .form-group
            = f.text_field :user_name, placeholder: 'Укажите ваше имя:', class: 'form-control input-lg'

          .form-group
            = f.text_field :phone, class: 'form-control input-lg'

          = f.submit 'Отправить заказ!', class: 'form-button', data: {disable_with: 'Идет отправка ...'}
          / %button.btn.btn-primary{"data-target" => "#feedbackModal", "data-toggle" => "modal", :type => "button"} Large modal
          / %button.btn.btn-primary{"data-target" => "#orderModal", "data-toggle" => "modal", :type => "button"} Large modal
