.kit
  .container
    .row
      .col-md-6.text-right
        .kit-image
          = image_tag @packing.image, class: 'img-responsive'
      .col-md-6
        .row.kit-info
          .col-md-6.title Вес подарка:
          .col-md-6.body #{@kit.weight.weight} гр.

        .row.kit-info
          .col-md-6.title Упаковка:
          .col-md-6.body микрогофрокартон с текстильными вставками.

        .row.kit-info
          .col-md-6.title Кол-во конфет:
          - sweets_count = @kit.sweets_count
          .col-md-6.body #{sweets_count} #{I18n.t(:count, count: sweets_count)}

        
        - @compositions.each_with_index do |composition, index|
          - if composition.kits.find_by(weight_id: @weight.id, show: true)
            - code = Kit.gen_code(@composition, @weight, @packing)
            .row.composition-variant{class: "js-control #{'active' if index == 0}", data: { slide: index }}
              .col-md-7
                .col-md-3
                  %i.is.icons-radio-button
                .col-md-9
                  “#{composition.title}”
                  %br
                  (№ #{code})
              .col-md-5.cost
                = composition.id
                200 000 л

= render 'title_line', text: 'СОСТАВ:'

.kit-sweets{class: 'cycle-slideshow', data: {cycle: {fx: 'fadeout', slides: '> div', 'auto-height' => false}}}
  - @compositions.each do |composition|
    - if composition.kits.find_by(weight_id: @weight.id, show: true)
      привет макс
      .tr.container-fluid
        - SweetsCategory.ordered.each do |category|
          - sweets = @kit.sweets.where(sweets_category_id: category.id)
          - if sweets.present?
            = render 'sweets', category: category, sweets: sweets
      

/ = render 'title_line', text: 'Как сделать заказ?'