.kit
  .container
    .row
      .col-md-6.text-right
        .kit-image
          = image_tag @packing.image, class: 'img-responsive'
      .col-md-6
        .row.kit-info
          .col-md-6.title Вес подарка:
          .col-md-6.body #{@kit.weight.weight} гр.

        .row.kit-info
          .col-md-6.title Упаковка:
          .col-md-6.body микрогофрокартон с текстильными вставками.

        .row.kit-info
          .col-md-6.title Кол-во конфет:
          - sweets_count = @kit.sweets_count
          .col-md-6.body #{sweets_count} #{I18n.t(:count, count: sweets_count)}

        
        - @compositions.each_with_index do |composition, index|
          .row.composition-variant{class: "js-control #{'active' if index == 0}", data: { slide: index }}
            .col-md-7
              .col-md-3
                %i.is.icons-radio-button
              .col-md-9
                “#{composition.title}”
                %br
                (№ 39421.а)
            .col-md-5.cost
              = composition.id
              200 000 л

= render 'title_line', text: 'СОСТАВ:'

.container-fluid.kit-sweets{class: 'cycle-slideshow', data: {cycle: {fx: 'fadeout', slides: '> div', 'auto-height' => false}}}
  - 3.times.each do |i|
    = render 'sweets', ind: i
    

/ = render 'title_line', text: 'Как сделать заказ?'