.container.composition-block.tab-pane{ class: ('active' if index == 2), id: "slide-#{index}"}
  .row.up-2.js-height-1
    - Composition.all.each do |composition|
      - kit = composition.kits.find_by(weight_id: weight.id, show: true)
      .col-xs-4.text-center
        - if kit
          .composition-header
            .composition-title= composition.title
            .composition-cost
              - costs = kit.kits_packings.pluck(:cost)
              #{ cost_tag(costs.min) } - #{ cost_tag(costs.max) } руб.

          .composition
            - weight.packings.each do |packing|
              - discount = kit.kits_packings.find_by(packing_id: packing).try(:discount)

              - code = Kit.gen_code(composition, weight, packing)
              = link_to kit_path(code), class: 'composition-item' do
                .composition-body
                  .composition-image
                    - if discount && discount > 0
                      .composition-discount
                        %i.is.icons-discount
                        .discount #{ discount }%
                      %i.is.icons-action
                    = image_tag(packing.image(:preview))
                  .composition-info
                    .composition-code
                      № #{code}
                    .composition-link-text
                      ОТКРЫТЬ >

  .row.up-1.hidden-xs
    .col-md-12.text-center
      .composition-label
        .composition-label-text СОСТАВ:

  .row.hidden-xs
    - Composition.all.each do |composition|
      .col-xs-4.text-center
        - kit = composition.kits.find_by(weight_id: weight.id, show: true)
        - if kit
          .sweets
            - SweetsCategory.ordered.each do |category|
              - sweets = kit.sweets.where(sweets_category_id: category.id)
              - if sweets.present?
                .sweet-category-block
                  .sweet-category-title
                    #{category.title}:
                  - sweets.each do |sweet|
                    .row.sweet-items
                      .col-md-6.sweet-image
                        = image_tag(sweet.image(:preview))
                        .sweet-count
                          .count #{ kit.kits_sweets.find_by(sweet_id: sweet.id).count }шт.
                          %i.is.icons-sweets-count
                      .col-md-6.sweet-text
                        .title= sweet.title
                        .manufacturer= sweet.manufacturer.title
