.container.composition-block
  .row.up-2
    - Composition.all.each do |composition|
      .col-xs-4.text-center
        .composition-header
          .composition-title= composition.title
          .composition-cost 200 000 руб.
        .composition
          - if composition.kits.find_by(weight_id: weight.id, show: true)
            - weight.packings.each do |packing|
              - code = Kit.gen_code(composition, weight, packing)
              = link_to kit_path(code), class: 'composition-item' do
                .composition-body
                  .composition-image
                    = image_tag(packing.image(:preview))
                  .composition-info
                    .composition-code
                      № #{code}
                    .composition-link-text
                      ОТКРЫТЬ >
  .row.up-1
    .col-md-12.text-center
      .composition-label
        .composition-label-text СОСТАВ:

  .row
    - Composition.all.each do |composition|
      .col-xs-4.text-center
        - kit = composition.kits.find_by(weight_id: weight.id, show: true)
        - if kit
          .sweets
            - SweetsCategory.ordered.each do |category|
              - sweets = kit.sweets.where(sweets_category_id: category.id)
              - if sweets.present?
                .sweet-category-block
                  .sweet-category-title
                    #{category.title}:
                  - sweets.each do |sweet|
                    .row.sweet-items
                      .col-md-6.sweet-image
                        = image_tag(sweet.image(:preview))
                        .sweet-count
                          .count #{ kit.kits_sweets.find_by(sweet_id: sweet.id).count }шт.
                          %i.is.icons-sweets-count
                      .col-md-6.sweet-text
                        .title= sweet.title
                        .manufacturer= sweet.manufacturer.title
