#feedbackModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.text-center
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = custom('modal_feedback_title')

      .modal-body
        = custom('modal_feedback_body')

#orderModal.modal.fade{"aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.text-center
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = custom('modal_order_title')

      .modal-body
        = custom('modal_order_body')

#getCallModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.text-center
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = custom('modal_get_call_title')

      .modal-body
        = custom('modal_get_call_body')
        %br
        = form_for Order.new, remote: true, html: { class: 'js-form', data: {form: 'getCallSuccess'} } do |f|
          .form-group
            = f.text_field :user_name, placeholder: 'Укажите ваше имя:', class: 'form-control input-lg'

          .form-group
            = f.text_field :phone, placeholder: '+375 (__) ___ __ __', class: 'form-control input-lg'

          = f.submit 'Оформить заявку!', class: 'form-button', data: {disable_with: 'Идет отправка ...'}


#getCallSuccessModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.text-center
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = custom('modal_get_call_succes_title')

      .modal-body
        = custom('modal_get_call_succes_body')
