= render 'index_banner'

.contacts
  .line
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        .title
          Контакты и адрес:
        - if custom?('velcom_phone')
          .phones-block-item
            %i.is.icons-velcom-logo-black
            = custom('velcom_phone')

        - if custom?('mts_phone')
          .phones-block-item
            %i.is.icons-mts-logo-black
            = custom('mts_phone')

        - if custom?('phone')
          .phones-block-item
            %i.is.icons-phone-logo-black
            = custom('phone')

        .address
          %i.is.icons-marker
          Республика Беларусь, г. Минск, ул. Селицкого, 19, 220075.

  #map
    = render 'map'

  = render 'recommendations'

