= render 'index_banner'

.contacts
  .line
  .container
    .row
      .col-md-6.col-md-offset-3
        .title.text-center
          = custom('contacts_title')
          
        - if custom?('velcom_phone')
          .phones-block-item
            %i.is.icons-velcom-logo-black
            = custom('velcom_phone')

        - if custom?('mts_phone')
          .phones-block-item
            %i.is.icons-mts-logo-black
            = custom('mts_phone')

        - if custom?('phone')
          .phones-block-item
            %i.is.icons-phone-logo-black
            = custom('phone')

        - custom('contacts_custom_phones').each do |custom_phone|
          .phones-block-item
            %i.is.icons-phone-logo-black
            = custom_phone

        - custom('emails').each do |custom_phone|
          .phones-block-item
            %i.is.icons-email-black
            = custom_phone

        .address.text-center
          %i.is.icons-marker
          = custom('contacts_address')
          

  #map
    = render 'map'

  = render 'recommendations'

