= render 'index_banner'
= render 'title_line', text: custom('delivery_first_title')
.delivery
  .container
    .row
      .col-xs-6
        = custom('delivery_first_body')
      .col-xs-6
        .delivery-car
          = image_tag('delivery-car.png')
          .action
            = custom('delivery_car_body')

- if custom?('delivery_second_body')
  = render 'title_line', text: custom('delivery_second_title') if custom?('delivery_second_title')

  .delivery
    .container
      .row
        .col-xs-2
        .col-xs-8
          = custom('delivery_second_body')
            

