= render 'index_banner'
= render 'title_line', text: custom('delivery_first_title')
.delivery
  .container
    .row
      .col-xs-6
        .ckeditor-text
          %ul
            %li
              БЕСПЛАТНАЯ ДОСТАВКА
              %br
              по г.Минску при заказе на сумму более 5 млн. руб.
            %li
              БЕСПЛАТНАЯ ДОСТАВКА
              %br
              по РБ при заказе на сумму более 15 млн. руб.
            %li
              доставка по г. Минску 65 т.руб.
            %li
              доставка по Беларуси 150-500 т.руб. (в зависимости от местонахождения пункта разгрузки).
      .col-xs-6
        .delivery-car
          = image_tag('delivery-car.png')
          .action
            = custom('delivery_car_body')

- if custom?('delivery_second_body')
  = render 'title_line', text: custom('delivery_second_title') if custom?('delivery_second_title')

  .delivery
    .container
      .row
        .col-xs-2
        .col-xs-8
          = custom('delivery_second_body')
            

