= render 'index_banner'
= render 'title_line', text: custom('delivery_first_title')
.delivery
  .container
    .row
      .col-xs-6
        .ckeditor-text
          %ul
            %li
              БЕСПЛАТНАЯ ДОСТАВКА
              %br
              по г.Минску при заказе на сумму более 5 млн. руб.
            %li
              БЕСПЛАТНАЯ ДОСТАВКА
              %br
              по РБ при заказе на сумму более 15 млн. руб.
            %li
              доставка по г. Минску 65 т.руб.
            %li
              доставка по Беларуси 150-500 т.руб. (в зависимости от местонахождения пункта разгрузки).
      .col-xs-6
        .delivery-car
          = image_tag('delivery-car.png')
          .action
            = custom('delivery_car_body')
            / Мы осуществляем
            / доставку по всей
            / территории
            / Республики Беларусь!

= render 'title_line', text: custom('delivery_second_title')

.delivery
  .container
    .row
      .col-xs-2
      .col-xs-8
        .ckeditor-text
          В этом году для вас мы разработали огромный ассортимент новогодних наборов конфет. Здесь каждый сможет найти для себя идеальный вариант. Все наборы наполняются только самыми вкусными конфетами, при этом, мы строго соблюдаем условия хранения и сроки годности. Используемые нами конфеты имеют сертификаты соответствия качеству. Для всех наших клиентов мы гарантируем четкое соблюдение договорных сроков выполнения заказов при любом количестве партии. Комплектуемые специалистами нашей компании  подарки, придутся по вкусу самым требовательным и избалованным изысками клиентам. Мы удовлетворим потребность даже отчаянных сладкоежек. В этом году все комплектуемые нами подарки можно разделить на три группы.

