= render 'index_banner'
.container-fluid
  .row
    .col-md-12.weight-menu
      %ul.nav
        - active_menu = cookies['active_menu'] || 2
        - @weights.each_with_index do |weight, index|
          %li{ class: ('active' if index == active_menu.to_i) }
            = link_to "#slide-#{index}", class: "weight-menu-item js-click-memory", data: { toggle: "tab", memory: index } do
              .title= weight.title
              .cost.hidden-xs
                - min_max = min_max_cost(weight)
                #{ min_max[:min] / 1000 } - #{ min_max[:max] / 1000 } т.


.tab-content
  - @weights.each_with_index do |weight, index|
    = render 'composition_block', weight: weight, index: index

= render 'brands'

- if custom?('seo_text')
  .footer-text
    .container
      .row
        .col-md-2
        .col-md-8
          = custom('seo_text')