= render 'index_banner'
.container-fluid
  .row
    .col-md-12.weight-menu
      %ul.nav
        - @weights.each_with_index do |weight, index|
          %li{ class: ('active' if index == 2) }
            = link_to "#slide-#{index}", class: "weight-menu-item", data: { toggle: "tab" } do
              .title= weight.title
              .cost
                - min_max = min_max_cost(weight)
                #{ min_max[:min] / 1000 } - #{ min_max[:max] / 1000 } т.


.tab-content
  - @weights.each_with_index do |weight, index|
    = render 'composition_block', weight: weight, index: index

= render 'brands'