= render 'index_banner'
.container-fluid
  .row
    .col-md-12.weight-menu.js-slideshow-control
      - @weights.each_with_index do |weight, index|
        = link_to '#', class: "weight-menu-item #{'active' if index == 2}", data: { slide: index } do
          .title= weight.title
          .cost 200 - 350 т.


.container{class: 'cycle-slideshow', data: {cycle: {fx: 'fadeout', slides: '> div', 'auto-height' => false}}}
  - @weights.each do |weight|
    = render 'composition_block', weight: weight

= render 'brands'