= render 'index_banner'
.container-fluid
  .row
    .col-md-12.weight-menu
      - @weights.each_with_index do |weight, index|
        = link_to '#', class: "weight-menu-item #{'active' if index == 2}" do
          .title= weight.title
          .cost 200 - 350 т.


.container
  .row
    - Composition.all.each do |composition|
      .col-md-4.text-center
        .composition-title= composition.title

