- url = try(:parent) ? [:admin, parent, resource] : [:admin, resource]
= form_for url do |f|
  - if resource.errors.any?
    = render 'errors', errors: resource.errors
  - if params[:root]
    = render 'form_root', f: f
  - else
    = render 'form', f: f

  .text-center
    = f.submit 'Сохранить', class: 'btn btn-primary'
    = link_to 'Назад', :back, class: 'btn btn-default'

%br