= form_for [:admin, resource] do |f|
  - if resource.errors.any?
    = render 'errors', errors: resource.errors
  = render 'form', f: f

  .text-center
    = f.submit 'Сохранить', class: 'btn btn-primary'
    = link_to 'Назад', :back, class: 'btn btn-default'