%nav.navbar.navbar-default{ role: 'navigation' }
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    = link_to 'Laplandiya', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li{ class: active_menu('admin/dashboards', 'index') }
        = link_to 'Dashboard', admin_root_path

      %li{ class: active_menu('admin/kits') }
        = link_to I18n.t('activerecord.models.kit'), admin_kits_path

      %li.dropdown{ class: active_menu(['admin/compositions', 'admin/manufacturers', 'admin/weights']) }
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Контент
          %b.caret
        %ul.dropdown-menu
          %li{ class: active_menu(['admin/manufacturers', 'admin/sweets']) }
            = link_to admin_manufacturers_path do
              #{ I18n.t('activerecord.models.manufacturer') } / #{ I18n.t('activerecord.models.sweet') }

          %li{ class: active_menu('admin/packings') }
            = link_to I18n.t('activerecord.models.packing'), admin_packings_path

          %li{ class: active_menu('admin/sweets_categories', 'index') }
            = link_to I18n.t('activerecord.models.sweetscategory'), admin_sweets_categories_path
              
          %li{ class: active_menu('admin/weights') }
            = link_to I18n.t('activerecord.models.weight'), admin_weights_path

          %li{ class: active_menu('admin/compositions', 'index') }
            = link_to I18n.t('activerecord.models.composition'), admin_compositions_path


      %li{ class: active_menu('admin/custom_fields', 'index') }
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          = I18n.t('activerecord.models.customfield')
          %b.caret
        %ul.dropdown-menu
          %li{ class: active_menu(['admin/manufacturers', 'admin/sweets']) }
            = link_to 'Главная', admin_custom_fields_path(page_type: 'index')
              
          %li{ class: active_menu(['admin/manufacturers', 'admin/sweets']) }
            = link_to 'Оплата и доставка', admin_custom_fields_path(page_type: 'delivery')

      %li{ class: active_menu('admin/custom_fields', 'index') }
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Отзывы
          %b.caret
        %ul.dropdown-menu
          %li{ class: active_menu('admin/opinions') }
            = link_to I18n.t('activerecord.models.opinion'), admin_opinions_path
          %li{ class: active_menu('admin/feedback') }
            = link_to I18n.t('activerecord.models.feedback'), admin_feedbacks_path


    %ul.nav.navbar-nav.navbar-right
      %li.dropdown{ class: active_menu(['admin/settings']) }
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Администратор
          %b.caret
        %ul.dropdown-menu
          %li.divider
          %li
            = link_to 'Выйти', 'destroy_admin_session_path', method: :delete
