%footer.row
  .col-sm-4.text-right
    - if custom?('work_time')
      .work-time-block
        .block-wrap
          = custom('work_time')
          - if custom?('work_days')
            .days
              - custom('work_days').each do |day|
                .day= day

  .col-md-4.text-center
    .logo
      %i.is.icons-logo-footer

  .col-sm-4
    .phones-block
      .block-wrap
        - if custom?('velcom_phone')
          .phones-block-item
            %i.is.icons-velcom-logo-big
            = custom('velcom_phone')

        - if custom?('mts_phone')
          .phones-block-item
            %i.is.icons-mts-logo-big
            = custom('mts_phone')

        - if custom?('phone')
          .phones-block-item
            %i.is.icons-phone-logo-big
            = custom('phone')

= render 'pages/modal'