%header
  .container
    .row
      .col-xs-3.col-sm-4
        .visible-xs
          \:)
        .hidden-xs
          - if custom?('get_call')
            = link_to '#', class: 'get-call', "data-target" => "#getCallModal", "data-toggle" => "modal", :type => "button" do
              %i.is.icons-get-call
              %span.text-get-call= custom('get_call')
      .col-xs-4.text-center.menu
        = link_to root_path, class: "menu-element left-side hidden-xs #{active_menu('pages', 'index')}" do
          %span Главная

        = link_to pages_delivery_path, class: "menu-element left-side hidden-xs #{active_menu('pages', 'delivery')}" do
          %span Оплата и доставка

        = link_to root_path, class: 'logo' do
          %i.is.icons-logo

        = link_to pages_contacts_path, class: "menu-element right-side hidden-xs #{active_menu('pages', 'contacts')}" do
          %span Контакты

        = link_to opinions_path, class: "menu-element right-side hidden-xs #{active_menu('opinions')}" do
          %span Отзывы

          
      .col-xs-5.col-sm-4.text-right
        .phones-block
          .block-wrap
            - if custom?('velcom_phone')
              .phones-block-item
                %i.is.icons-velcom-logo
                = custom('velcom_phone')

            - if custom?('mts_phone')
              .phones-block-item
                %i.is.icons-mts-logo
                = custom('mts_phone')

            - if custom?('phone')
              .phones-block-item
                %i.is.icons-phone-logo
                = custom('phone')

        
        - if custom?('work_time')
          .work-time-block.hidden-xs.hidden-sm
            .block-wrap
              = custom('work_time')
              - if custom?('work_days')
                .days
                  - custom('work_days').each do |day|
                    .day= day